.element__like {
  width: 22px;
  padding-top: 3px;
  cursor: pointer;
  background-image: url(../../../image/like.svg);
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}

.element__like:hover {
  opacity: 50%;
}

.element__like:active {
  background-image: url(../../../image/like-active.svg);
}

.element__like:active:hover {
  background-image: url(../../../image/like-active.svg);
  opacity: 100%;
}
