.popup__name {
  margin: 54px 34px 0;
  border: none;
  padding: 0;

  border-bottom: 1px solid #000000;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 800px) {
  .popup__name {
    margin: 75px 22px 0;
  }
}
