.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  /* gap: 17px; */
  row-gap: 20px;
  column-gap: 17px;
  padding-top: 46px;
}

@media (max-width: 800px) {
  .elements {
    column-gap: 0;
    padding-top: 36px;

  }
}
