.profile__addButton {
  width: 150px;
  margin-left: auto;
  cursor: pointer;

  background-image: url(/image/addButton.svg);
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.profile__addButton:hover {
  opacity: 60%;
}

@media (max-width: 800px) {
  .profile__addButton {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/image/addButton-mobi.svg);

    width: 282px;
    height: 50px;
  }
}
