.popup__button_type_avatar {
  background-color: black;
  color: white;
  padding: 12px 130px 16px;
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.popup__button_type_avatar:hover {
  opacity: 80%;
}

@media (max-width: 800px) {
  .popup__button_type_avatar {
    padding: 14px 90px;
    font-size: 14px;
    line-height: 17px;
  }
}
