.popup__exit {
  color: white;
  background-color: transparent;
  width: 100%;
  max-width: 32px;
  max-height: 32px;
  height: 100%;
  background-image: url(../../../image/__close.svg);
  cursor: pointer;
  position: relative;
  left: 438px;
  bottom:8px;
  border: none;
  text-decoration: none;
  background-size: contain;
  height: 32px;
  width: 32px;
}

.popup__exit:hover {
  opacity: 60%;
}

@media (max-width: 800px) {
  .popup__exit {
    left: 262px;
    bottom:16px;
    max-width: 20px;
    max-height: 20px;
  }
}
