.element__like {
  width: 22px;
  padding-top: 3px;
  cursor: pointer;
  background-image: url(../../../image/like.svg);
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
}

.element__like:hover {
  opacity: 50%;
}
