.profile__button {
  background-color: black;
  border: none;

  background-image: url(../../../image/EditButton.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;
  margin-left: 25px;
  width: 24px;
}

.profile__button:hover {
  opacity: 60%;
}

@media (max-width: 800px) {
  .profile__button {
    margin-left: 10px;
  }
}
