.profile__job {
  font-style: normal;
  font-weight: 400;

  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  padding-top: 16px;
}

@media (max-width: 800px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}
